<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-autowire="byName" default-lazy-init="true">

	<!-- 配置json转换器 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper" />
				</property>
			</bean>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="contentNegotiationManager"  class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="ignoreAcceptHeader" value="true" />
		<property name="defaultContentType" value="application/json" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="html" value="text/html" />
			</map>
		</property>
	</bean>
	
	<!--<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">-->
		<!--<property name="contentNegotiationManager" ref="contentNegotiationManager" />-->
		<!--<property name="viewResolvers">-->
			<!--<list>-->
				<!--<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />-->
				<!--<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">-->
					<!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
					<!--<property name="prefix" value="/WEB-INF/view/" />-->
					<!--<property name="suffix" value=".jsp" />-->
				<!--</bean>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="defaultViews">-->
			<!--<list>-->
				<!--<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">-->
					<!--<property name="objectMapper">-->
						<!--<bean class="com.fasterxml.jackson.databind.ObjectMapper" />-->
					<!--</property>-->
					<!--<property name="extractValueFromSingleKeyModel" value="true" />-->
				<!--</bean>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!-- Jsp视图 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1"/>
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
		<property name="contentType" value="text/html; charset=utf-8"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	</bean>
	
	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper" />
		</property>
	</bean>
	
	<bean id="handlerExceptionResolver" 
		class="com.luckyhua.webmvc.interceptor.BaseExceptionInterceptor">
		<property name="jsonMessageConverter" ref="jsonMessageConverter" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
	</bean>
</beans>
